.tours {
  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__image {
    height: 14rem;
    overflow: hidden;
    
    &_position {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    min-width: 36rem;
    background: var(--white) 0 -4rem / contain no-repeat;
    overflow: hidden;
    border-radius: 1rem;
    margin-bottom: 14rem;

    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    flex: 1;
    padding: 3rem 4rem 3rem 2rem;
    background-color: inherit;
  }

  &__services {
    display: flex;
    font-size: var(--xxs);
    line-height: 1.4;
    color: var(--brownish-grey);
    margin-bottom: 3rem;
  }

  &__description {
    flex: 1;
    font-size: var(--xs);
    line-height: 1.5;
    margin-bottom: 3rem;
  }
}

.services {
  &__icon {
    margin-right: .7rem;
  }

  &__item {
    display: flex;
    align-items: center;
    

    &:not(:last-child) {
      margin-right: 3rem;
    }
  }
}
